.contenedor-principal{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.contenedor-secundario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
 }

.imagen-portada{    
    background-color: #232934;
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;                               
    margin: 10px;
}


.imagen-portada img{
    height: 300px;
    width: 300px;
    margin-right: 20px;
}

.informacion{ 
    flex: 2;                        
    display: flex;
    flex-direction: column;           
    align-items: flex-start;    
}

.informacion p {
    flex: 1;                        
    display: flex;
    flex-direction: column;           
    align-items: flex-start;              
}
