.mostrargenero {   
    position: relative;
    height: 250px;
    width: 800px; 
    background-color: #2F3744;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
    border-radius: 10px;
}    


.botonizquierda {    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    background-color: #2f343c04;
    font-size: 20px;
    width: 70px;
    height: 70px;
    display: flex;   
}

.botonderecha {    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    background-color: #2f343c04;
    font-size: 20px;
    width: 70px;
    height: 70px;
    display: flex;   
}

.titulo {
    position: absolute;
    top: 0px;
    left: 90px;
}

.mostrargenero li {    
    margin-right: 20px;
   
    
}

.mostrargenero li img {
    width: 150px;
    height: 150px;
}

.generosdemuestra {
    display: flex;
    flex-direction: row;
}