.comentario-contenedor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #f4f4f4;
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.textarea-comentario {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    resize: vertical;
}


.botones-like-container {
    display: flex;
    gap: 12px;
}

.boton-like {
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px solid #1f8f39;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.boton-like:hover {
    background: #e6f8eb;
}

.boton-like-activado {
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px solid #1f8f39;
    background: #1f8f39;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.boton-dislike,
.boton-dislike-activado {
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px solid #c62828;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background: #c62828; 
    transition: 0.2s;
}

.boton-dislike:hover,
.boton-dislike-activado:hover {
    background: #e53935;
}

