.contenedor-principal {
    position: relative;
    padding: 30px;
    background-color: #2c3e50; 
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); 
}

.boton-bloquear-vista-juegoo {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background-color: #e74c3c; 
    color: white;
    border: none;
    border-radius: 50%; 
    width: 25px; 
    height: 25px; 
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1; 
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.2s;
}

.boton-bloquear-vista-juegoo:hover {
    background-color: #c0392b; 
}

.CreacionGenero-formulario {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.CreacionGenero-formulario label {
    font-size: 1.2em;
    font-weight: bold;
    color: #ecf0f1; 
    margin-bottom: 5px; 
}

.CreacionGenero-input {
    padding: 10px;
    border: 2px solid #34495e; 
    border-radius: 4px;
    background-color: #ecf0f1; 
    color: #2c3e50;
    font-size: 1em;
    width: 100%; 
    box-sizing: border-box; 
}

#descripcion {
    height: 80px; 
    padding-top: 10px;
    resize: vertical; 
}

.CreacionGenero-formulario input[type="submit"] {
    background-color: #2ecc71; 
    color: white;
    font-size: 1.3em;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; 
    transition: background-color 0.2s;
    width: 100%; 
}

.CreacionGenero-formulario input[type="submit"]:hover {
    background-color: #27ae60; 
}


.contenedor-genero-formulario-juego {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 10px;
    max-height: 90px;      
    overflow-y: auto;       
}

.contenedor-genero-formulario-juego::-webkit-scrollbar {
    display: none;
}

.contenedor-genero-formulario-juego {
    scrollbar-width: none; 
}

.contenedor-genero-formulario-juego {
    -ms-overflow-style: none;
}

.contenedor-genero {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.genero-tarjeta-seleccion {
    width: 100%;
    padding: 10px 0;

    background-color: #2e2d55; 
    color: #ffffff;
    border: none;
    border-radius: 8px;

    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.genero-tarjeta-seleccion:hover {
    background-color: #3d3b6b;
}
