
.contenedorprincipal {
    background-color: #232934;
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;                               
    margin: 10px;
}


.informacion {
    flex: 1;                        
    display: flex;
    flex-direction: column;           
    align-items: center;              
    text-align: center;
}

.informacion h2 {
    font-size: 24px;
    color: #fff;                     
    margin-bottom: 10px;
}


.informacion img {
    width: 100%;                      
    height: auto;
    max-width: 300px;                 
    border-radius: 10px;              
}


.infodescripcion {
    flex: 2;                         
    color: #fff;
    background-color: #51637c;                     
}

.infodescripcion p {
    font-size: 16px;
    line-height: 1.5;
}


.precio {
    background-color: #232934;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.precio-original {
    font-size: 14px;
    text-decoration: line-through;
    color: #999;                    
}

.precio-descuento {
    font-size: 18px;
    color: #4CAF50;                  
    font-weight: bold;
}
